@charset "UTF-8";
/* CSS Document */
/* Dropdown Button */


.title1{
	display:inline; /* the default for span */
  width: 100%;
  background-color: white; 
	padding-bottom: 200px;
	margin-bottom: 100px;
}

.line{
  width: 35px;
  height: 3px;
  background-color: blue;
  margin: 6px 0;
}
h1 {
	text-align: center;
 font-weight: normal;
  color: #2764EE;
  font-size: 50px;
  font-family: Courier ; 
	margin:auto;  
	float: right;
	padding-left:500px;
		padding-bottom:30px; 
	padding-top: 30px;
}


.dropbtn {
  background-color: white;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: 1;
	border-radius: 10px;
	border-color: blue;
  cursor: pointer;
  	display: inline-block;
	margin-left:10px;
	margin-top: 30px;


}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: Courier ; 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	margin-top: 0px;
		margin-left:10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: grey}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}



h2 {
  font-weight: lighter;
  color: #6A091B;
  font-size: 40px;
  font-family: Courier ;
  text-align: left;
  line-height: 10%;
  margin-top:40px;
  margin-bottom:20px;
	position: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.navbar {
	display: inline-block;
		margin-left: auto;
	margin-right: auto;
  background-color: white;
  overflow: hidden;
  position:relative;
  bottom: 0;
  width: 100%;
	padding-bottom: 8px;
}

/* Style the links inside the navigation bar */
.navbar a {
	margin: 0 auto;
  float:left;
  font-family: Courier ;
  color: #6A091B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
	border-radius: 30px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
		border-radius: 30px;

  color: black;
	
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #6A091B;;
	border-radius: 30px;
  color: white;
}